html {
    box-sizing: border-box;
    background-color: #ddd;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    max-width: 1200px;
    min-height: 100vh;
    padding: 1rem;
    background-color: #fff;
    margin: auto;
    font-family: sans-serif;
   
}

h1,
h2,
h3 {
    color: rgb(214, 8, 104);
}


/* ------------------------------ */

/*
    1. nadpisy a rámeček kolem mapy primární barvou Czechitas
    2. odstraň kurzívu z textu
    3. mapa responzivní – ukážeme si ;)
*/